.mos__prod-detail{
  padding:0 0 50px;
}
.mos__prod-detail__gallery{
  width:48%;
}
@media (max-width: 743px){
  .mos__prod-detail__gallery{
    width:100%;
    margin:0 0 30px;
  }
}
.mos__prod-detail__gallery a{
  display:block;
}
.mos__prod-detail__gallery .item-gallery{
  cursor:pointer;
}
.mos__prod-detail__gallery .item-gallery img{
  width:100%;
}
@media (max-width: 480px){
  .mos__prod-detail__gallery .item-gallery img{
    height:390px;
    -o-object-fit:cover;
       object-fit:cover;
    -o-object-position:top;
       object-position:top;
  }
}
@media (max-width: 480px){
  .mos__prod-detail__gallery video,
  .mos__prod-detail__gallery iframe{
    min-height:390px;
    -o-object-fit:cover;
       object-fit:cover;
  }
}
@media (min-width: 743px){
  .mos__prod-detail__gallery #mos-prod-gallery .swiper{
    overflow:visible;
  }
}
@media (min-width: 743px){
  .mos__prod-detail__gallery #mos-prod-gallery .swiper-wrapper{
    display:block !important;
    transform:none !important;
  }
}
@media (min-width: 743px){
  .mos__prod-detail__gallery #mos-prod-gallery .swiper-scrollbar{
    display:none !important;
  }
}
.mos__prod-detail__info{
  width:45%;
  position:sticky;
  top:145px;
  padding:50px calc((100vw - 1300px) / 2) 0 0;
}
@media (max-width: 1300px){
  .mos__prod-detail__info{
    padding:50px 50px 0 0;
  }
}
@media (max-width: 743px){
  .mos__prod-detail__info{
    width:100%;
    padding:0 20px 0;
  }
}
.mos__prod-detail__info h1{
  margin:0 0 35px;
}
.mos__prod-detail__info .price-normal,
.mos__prod-detail__info .price-desc{
  text-transform:uppercase;
  font-family:"Montserrat-Bold", sans-serif;
  font-size:24px;
}
.mos__prod-detail__info .price-desc{
  text-decoration:line-through;
  margin:0 15px 0 0;
}
.mos__prod-detail__info .price-normal{
  color:var(--secondary);
  margin:0;
}
.mos__prod-detail__info #variation-talla option{
  text-transform:uppercase;
}
.mos__prod-detail__info .desc-box{
  width:-moz-fit-content;
  width:fit-content;
  background:var(--secondary);
  padding:10px;
  min-width:100px;
  text-align:center;
  color:var(--white);
  font-family:"Montserrat-Bold", sans-serif;
  font-size:13px;
  margin:30px 0 0;
}
.mos__prod-detail__info .mos-selects{
  margin:30px 0;
}
@media (max-width: 743px){
  .mos__prod-detail__info .mos-selects{
    flex-wrap:wrap;
  }
}
.mos__prod-detail__info .mos-selects .form-input{
  margin:0 35px 0 0;
}
@media (max-width: 743px){
  .mos__prod-detail__info .mos-selects .form-input{
    width:100%;
    margin:0 0 25px;
  }
  .mos__prod-detail__info .mos-selects .form-input:last-child{
    margin:0;
  }
}
.mos__prod-detail__info .form-input select{
  min-width:185px;
  text-transform:uppercase;
  padding:10px 5px;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}
.mos__prod-detail__info .form-input select option{
  text-transform:uppercase;
}
.mos__prod-detail__info .mos-contact-asesor,
.mos__prod-detail__info .mos-size-guide,
.mos__prod-detail__info .mos-combine{
  width:-moz-fit-content;
  width:fit-content;
  display:block;
  font-family:"Poppins-Regular", sans-serif;
  border-bottom:1px solid var(--black);
  color:var(--black);
}
.mos__prod-detail__info .mos-size-guide,
.mos__prod-detail__info .mos-combine{
  margin-top:40px;
  margin-bottom:40px;
  min-width:185px;
  border-bottom:0px;
  text-align:left;
}
.mos__prod-detail__info .mos-size-guide span,
.mos__prod-detail__info .mos-combine span{
  border-bottom:1px solid var(--black);
}
.mos__prod-detail__info .mos-combine{
  margin-left:35px;
}
.mos__prod-detail__info .mos-combine:only-child{
  margin:0 0 40px;
}
@media (max-width: 743px){
  .mos__prod-detail__info .mos-combine{
    margin-left:0px;
  }
}
.mos__prod-detail__info .mos__btn{
  width:100%;
}
.mos__prod-detail__info .mos-contact-asesor{
  text-align:center;
  text-decoration:none;
  width:-moz-fit-content;
  width:fit-content;
  margin:30px auto 50px;
}
.mos__prod-detail__items{
  padding:0;
  margin:0;
}
.mos__prod-detail__items li{
  list-style:none;
}
.mos__prod-detail__items li button{
  width:100%;
  padding:20px 0;
  font-family:"Montserrat-SemiBold", sans-serif;
  border-bottom:1px solid var(--black);
  font-size:16px;
  text-align:left;
  color:var(--black);
}
@media (max-width: 743px){
  .mos__prod-detail__items li button{
    font-size:16px;
  }
}
.mos__prod-detail__recommend{
  padding:100px 0;
}
@media (max-width: 743px){
  .mos__prod-detail__recommend{
    padding:50px 0;
  }
}
.mos__prod-detail__recommend__item{
  text-decoration:none;
}
.mos__prod-detail__recommend__item img{
  width:100%;
  height:291px;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:top;
     object-position:top;
}
.mos__prod-detail__recommend__item h3{
  font-size:18px;
  font-family:"Montserrat-Medium", sans-serif;
  font-weight:500;
  margin:10px 0 0;
}
@media (max-width: 743px){
  .mos__prod-detail__recommend__item h3{
    font-size:16px;
  }
}

.mos__modal__gallery{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100vh;
  z-index:2000;
  display:none;
}
.mos__modal__gallery__container{
  width:100%;
  height:100vh;
  padding:0 20px;
  background:var(--white);
  position:relative;
  z-index:1;
}
@media (max-width: 743px){
  .mos__modal__gallery__container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
}
.mos__modal__gallery__close{
  position:absolute;
  top:20px;
  right:20px;
  z-index:2;
}
.mos__modal__gallery.active{
  animation:fadeIn 0.5s ease-in forwards;
  display:block;
}
.mos__modal__gallery .swiper-slide img{
  height:auto;
  max-height:100vh;
  max-width:100%;
  position:relative;
  vertical-align:middle;
  width:auto;
  margin:0 auto;
  cursor:zoom-in;
}
.mos__modal__gallery .swiper-button-next,
.mos__modal__gallery .swiper-button-prev{
  cursor:pointer;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  z-index:1;
}
.mos__modal__gallery .swiper-button-next{
  right:0;
}
.mos__modal__gallery .swiper-button-prev{
  left:0;
}
.mos__modal__gallery .swiper-button-disabled{
  opacity:0.5;
  cursor:none;
}
.mos__modal__gallery img.zoomed{
  cursor:grab;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  touch-action:none;
}

.mos__zoom-img{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:2000;
  background:rgba(0, 0, 0, 0.5);
  padding:15px 30px;
  opacity:1;
  visibility:visible;
  transition:all 0.3s;
  display:block;
}
.mos__zoom-img svg{
  width:70px;
  height:70px;
}
.mos__zoom-img span{
  color:var(--white);
  display:block;
  margin:10px auto 0;
  text-align:center;
}
.mos__zoom-img.hidden{
  opacity:0;
  visibility:hidden;
}

/*# sourceMappingURL=single-product.css.map*/