.mos__store__filters{
  margin:0 0 50px;
}
@media (max-width: 743px){
  .mos__store__filters{
    align-items:flex-start;
    position:relative;
    justify-content:space-between;
    margin:0 0 20px;
  }
}
.mos__store__filters__item{
  margin:0 50px 0 0;
}
@media (max-width: 743px){
  .mos__store__filters__item{
    width:auto;
    margin:0 0 30px 0;
    position:initial;
  }
  .mos__store__filters__item:last-child{
    margin:0;
  }
}
.mos__store__filters__item:last-child{
  margin:0;
}
.mos__store__filters__item p{
  margin:0 10px 0 0;
}
@media (max-width: 743px){
  .mos__store__filters__item p{
    font-size:14px;
  }
}
@media (max-width: 743px){
  .mos__store__filters__item button{
    width:100%;
  }
}
.mos__store__filters__item button span{
  font-family:"Montserrat-Bold", sans-serif;
  border-bottom:1px solid var(--black);
  font-size:14px;
  color:var(--black);
}
.mos__store__filters__item button svg{
  margin:0 0 0 10px;
}
@media (max-width: 743px){
  .mos__store__filters__item button > svg{
    width:11px;
  }
}
@media (max-width: 743px){
  .mos__store__filters__item button > p{
    display:none;
  }
}
@media (max-width: 743px){
  .mos__store__filters__item button > span{
    font-size:11px;
  }
}
.mos__store__filters__item__content{
  position:absolute;
  top:calc(100% + 20px);
  left:0;
  width:100%;
  min-width:245px;
  margin:0;
  padding:0;
  background:var(--white);
  border:1px solid #dbd8d6;
  box-shadow:0px 8px 24px rgba(0, 0, 0, 0.1);
  z-index:1;
  display:none;
}
.mos__store__filters__item__content.active{
  display:block;
}
.mos__store__filters__item__content li{
  list-style:none;
  cursor:pointer;
  padding:10px;
  font-size:13px;
}
.mos__store__filters__item__content li a{
  text-decoration:none;
}
.mos__store__filters__item__content li.no-active{
  pointer-events:none;
}
.mos__store__filters__item__content li.no-active a{
  pointer-events:none;
  color:#bfbfbf;
}
@media (min-width: 743px){
  .mos__store__filters__item__content.filter-color-talla{
    min-width:720px;
  }
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top{
  padding:40px;
  border-bottom:1px solid #dbd8d6;
}
@media (max-width: 743px){
  .mos__store__filters__item__content.filter-color-talla .custom-filters-top{
    padding:40px 20px;
  }
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top h3{
  font-family:"Poppins-Medium", sans-serif;
  font-weight:500;
  font-size:14px;
  margin:0 0 20px;
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top ul{
  margin:0;
  padding:0;
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top ul li{
  width:45%;
  padding:0;
  margin:0 0 10px;
  background:transparent;
}
@media (max-width: 743px){
  .mos__store__filters__item__content.filter-color-talla .custom-filters-top ul li{
    width:100%;
  }
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top ul li:last-child{
  margin:0;
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-top .attribute{
  width:48%;
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-bottom{
  padding:40px;
}
@media (max-width: 743px){
  .mos__store__filters__item__content.filter-color-talla .custom-filters-bottom{
    padding:40px 20px;
  }
}
.mos__store__filters__item__content.filter-color-talla .custom-filters-bottom p{
  font-size:14px;
  margin:0;
}
.mos__store__filters__item__content .mujeres li:last-child{
  margin:0 0 0 auto;
}
.mos__store .mos__btn{
  display:block;
  margin:40px auto 0;
}
@media (max-width: 480px){
  .mos__store .ds-grid__col4{
    grid-template-columns:repeat(2, 1fr);
    grid-gap:0.4rem;
  }
}
@media (max-width: 480px){
  .mos__store .product-card__img img{
    height:auto;
  }
}
@media (max-width: 480px){
  .mos__store .product-card__info h2 a{
    font-size:0.75rem;
  }
}
@media (max-width: 480px){
  .mos__store .product-card .woocommerce-Price-amount.amount{
    font-size:0.75rem;
  }
}

/*# sourceMappingURL=template-store.css.map*/