@import '../variables';
@import '../mixin/media_queries';

.mos__msc {
	padding: 0 0 100px;
	h2,
	h3 {
		font-family: $montserratRegular;
		font-weight: 400;
		color: var(--primary);
	}
	&__scroll {
		@include maxw($mq-sm) {
			overflow-x: scroll;
			overflow-y: hidden;
			padding-bottom: 60px;
		}
	}
	&__progress {
		position: relative;
		border-radius: 20px;
		background: repeating-linear-gradient(135deg, #fff, #fff 5px, var(--secondary) 6px, var(--secondary) 7px);
		height: 22px;
		display: flex;
		line-height: 0;
		@include maxw($mq-sm) {
			width: 1200px;
		}
		@include maxw($mq-sm) {
				height: 17px;
			}
		&:before {
			content: '';
			border: 2px solid var(--secondary);
			width: calc(100% - 4px);
			position: absolute;
			height: 20px;
			top: 0;
			left: 0;
			border-radius: 20px;
			@include maxw($mq-sm) {
				height: 15px;
			}
		}
		&__bar {
			background: var(--secondary);
			height: 22px;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			text-align: center;
			white-space: nowrap;
			transition: width 0.6s ease;
			@include maxw($mq-sm) {
				height: 17px;
			}
		}
	}
	&__levels {
		margin: 0;
		padding: 0;
		@include maxw($mq-sm) {
			width: 1200px;
		}
		li {
			list-style: none;
			position: absolute;
			top: 0;
			font-size: 13px;
			color: #707070;
			padding: 7px;
			@include maxw($mq-xs) {
				font-size: 12px;
			}
			&:before {
				content: '';
				height: 20px;
				border-right: 1.5px solid var(--secondary);
				position: absolute;
				top: 0;
				left: -1px;
			}
			span {
				display: block;
			}
			.sr-only {
				position: relative;
				top: -10px;
				left: 0;
				line-height: 5px;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border: 0;
				color: var(--secondary);
			}
			&:nth-child(1) {
				left: 1%;
			}
			&:nth-child(2) {
				left: 20%;
				left: 16.5%;
			}
			&:nth-child(3) {
				left: 40%;
				left: 49.8%;
			}
			&:nth-child(4) {
				width: 85px;
				left: auto;
				right: 7px;
				&:before {
					content: none;
				}
				&:after {
					content: '';
					height: 20px;
					border-right: 1.5px solid var(--secondary);
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	&__info {
		padding: 0 0 0 18px;
		margin: 100px 0 0;
		@include maxw($mq-sm) {
			margin: 40px 0 0;
		}
	}
	&__ben {
		.item-msc {
			padding: 60px 30px;
			//background: var(--primary);
			border: 1px solid var(--primary);
			min-height: 300px;
			p,
			h3,
			h4 {
				text-align: center;
				color: var(--primary);
			}
			h3,
			h4 {
				font-family: $montserratMedium;
				font-weight: 500;
				text-transform: uppercase;
			}
			p {
				font-size: 14px;
				margin: 0;
			}
			.mos__btn {
				display: block;
				margin: 20px auto 0;
			}
			&--2 {
				background: var(--primary);
				p,
				h3,
				h4 {
					color: var(--white);
				}
			}
			&--img {
				padding: 0;
				border: 0;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	&__history {
		margin: 50px 0 0;
		&__header {
			margin: 30px 0 0;
			border-bottom: 1px solid #d9d9d9;
			h4 {
				font-family: $montserratRegular;
				font-weight: 400;
				color: var(--primary);
				font-size: 20px;
				&:nth-child(1) {
					width: 67%;
				}
				&:nth-child(2) {
					width: 30%;
				}
			}
		}
		&__items {
			.item {
				border-bottom: 1px solid #d9d9d9;
				padding: 20px 0;
				&__col {
					&:nth-child(1) {
						width: 67%;
					}
					&:nth-child(2) {
						width: 30%;
					}
					small,
					p {
						font-size: 14px;
					}
					p {
						margin: 5px 0 15px;
					}
					&__cat {
						width: fit-content;
						background: var(--primary);
						color: var(--white);
						text-align: center;
						padding: 5px 20px;
						font-size: 14px;
						display: block;
					}
					&__points {
						color: var(--primary);
					}
					ul {
						margin: 0;
						padding: 0 0 0 18px;
						li {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	&__desc {
		.pointCals {
			border: 2px solid var(--primary);
			text-align: center;
			background: var(--white);
			width: 100%;
			margin: 0 auto;
			padding: 50px 20px;
			@include maxw($mq-sm) {
				width: 100%;
			}
			div {
				display: inline-block;
				vertical-align: middle;
			}
			h2 {
				font-size: 20px;
			}
		}
		.circlenumber {
			background-color: var(--primary);
			border-radius: 50%;
			height: 80px;
			width: 80px;
			position: relative;
			.getPoints {
				color: var(--white);
				font-size: 20px;
				font-family: $montserratBold;
				left: 0;
				line-height: 20px;
				padding: 0 5px;
				position: absolute;
				top: 50%;
				width: 100%;
				word-wrap: break-word;
				transform: translateY(-50%);
				span {
					&:last-child {
						font-size: 10px;
						text-transform: uppercase;
						display: block;
						line-height: 12px;
					}
				}
			}
		}
		.equalSign {
			margin: 0 5%;
		}
		.desc {
			display: block !important;
			margin: 25px 0 0;
			p {
				font-size: 13px;
				margin: 0;
			}
		}
		&__cols {
			margin: 30px 0 0;
			@include maxw($mq-md) {
				flex-direction: column;
			}
		}
		&__col {
			&:nth-child(1) {
				width: 35%;
				@include maxw($mq-md) {
					width: 100%;
				}
			}
			&:nth-child(2) {
				width: 65%;
				@include maxw($mq-md) {
					width: 100%;
					margin: 30px 0 0;
				}
			}
			.items {
				gap: 50px;
				img {
					max-height: 90px;
					margin: 0 auto;					
					@include maxw($mq-sm) {
						max-height: 80px;
						max-height: 70px;
					}

				}
				h3,
				h4,
				p {
					text-align: center;
				}
				h3,
				h4 {
					font-size: 20px;
					margin: 20px 0 15px;
					@include maxw($mq-sm) {
						font-size: 19px;
					}
				}
				p {
					font-size: 15px;
					margin: 0;
				}
			}
		}
	}
}
